html {
    height: 100%;
}
body {
    font-family: San Francisco,Helvetica,Arial,sans-serif;
    font-weight: 400;
    height: 100%;
    background-color: #F3F3F3;
}
*{
    margin:0;
    padding:0;
}
li {
    list-style: none;
}

.main {
    width:18.75rem;
    height: 31rem;
    margin:0 auto;
    background: url("../images/Activity/bg_campaign.png") no-repeat;
    background-size: 100%;
    text-align: center;
    position: relative;
}
.btn_operation {
    position: relative;
    top: 15.3rem;
    display: inline-block;
    overflow: hidden;
}
.btn_operation2 {
    position: relative;
    top: 26.05rem;
    display: inline-block;
    overflow: hidden;
}
.btn_details, .btn_join, .got_it {
    width: 5.3rem;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    float: left;
    background-color: #F03D5A;
    border-radius: 5px;
    cursor: pointer;
}
.btn_details:active, .btn_join:active, .got_it:active {
    opacity: 0.7;
}
.btn_details {
    margin-right: 1.4rem;
}
.right_spacing {
    margin-right: 1.4rem;
}
.topBroadcasters {
    position: absolute;
    top: 19rem;
    width: 100%;
    background-color: #fff;
}
.top_title {
    width: 100%;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    background-color: #EC8B00;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 600;
}
.broadcasters_list {
    padding-left: 0.75rem;
}
.broadcasters_list li {
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}
.rank_img {
    height: 1.434rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.717rem;
}
.arrow_img {
    height: 0.7rem;
    position: absolute;
    top: 50%;
    right: 0.8rem;
    margin-top: -0.475rem;
}
.avatar {
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: 50%;
    left: 1.95rem;
    margin-top: -0.95rem;
    border-radius: 50%;
}
.gender {
    width: 0.65rem;
    height: 0.65rem;
    display: inline;
}
.level {
    width: 1.9rem;
    height: 0.7rem;
    border-radius: 12px 12px 12px 12px;
    background-color: #F24D5B;
    display: inline-block;
    position: relative;
}
.bg_yellow {
    background-color: #FFB100;
}
.bg_red {
    background-color: #F24D5B;
}
.bg_blue {
    background-color: #20A4CD;
}
.ic_level {
    width: 1.2rem;
    height: 0.6rem; 
    position: absolute;
    left: 0.2rem;
    top: 0.1rem; 
}
.level_num {
    color: #fff;
    font-size: 0.5rem;
    font-weight: 600;
    position: absolute;
    top: 0.05rem;
    right: 0.3rem;
}
.broadcaster_name {
    color: #333;
    font-size: 0.8rem;
    position: absolute;
    top: 0.9rem;
    left: 4.2rem;
}
.stars {
    color: #9b9b9b;
    font-size: 0.6rem;
    position: absolute;
    top: 2rem;
    left: 4.2rem;
}
.star_num {
    color: #F24D5B;
    font-weight: 600;
}
.no_num {
    font-size: 0.55rem;
    color: #A8A8A8;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.35rem;
}


/*leaderboard.html*/
.contain {
    width:18.75rem;
    height: 100%;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.head_title {
    width: 100%;
    height: 8.6rem;
    display: block;
}
.leaderBroadcaster {
    background-color: #fff;
}












